@import 
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --Teal :#4CA7C0
    --Purple: #484FB7
    --Lavender: #6B8FE7
    --Yellow: #E9BB57
    --Pink:#D9526F
    --Dark-gray:#1E1E1E
    --White:#ffffff; 

}

body{
    background:var(--lavender);
    font-family:Inter,sans-serif;
    color:var(--dark);
}

.container{
    width:450px;
    margin:auto;
    background:var(--purple);
}

header{
    color:white;
    text-align:center;
    padding: 18px;
}

h1{
    font-family:Kavoon;
    font-size:2.8rem;
}

header p{
    font-style:italic;
    margin-top:6px;
    font-size:.9rem;
}

nav{
    margin-top:15px;
}

nav ul{
    list-style:none;
}

nav li{
    background:white;
    border:3px solid var(--yellow);
    margin:8px auto;
    width:90%;
}

nav a{
    display:block;
    color:var(--purple);
    font-weight:700;
    padding:8px;
    text-transform:uppercase;
    font-size:.8rem;
}

main{
    padding:15px;
}

section{
    margin-bottom:18px;
}

h2{
    font-family:Kavoon;
    color:white;
    margin-bottom:8px;
}

h3{
    color:white;
    font-size:1.1rem;
    margin:10px 0;
}

article{
    background:white;
    border-radius:12px;
    padding:16px;
    margin-bottom:12px;
}

article img{
    width:55px;
    margin-bottom:10px;
}

article h4{
    color:var(--purple);
    font-size:1rem;
    margin-bottom:6px;
}

article p{
    font-size:.8rem;
}

.features{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.features div{
    text-align:center;
    font-weight:700;
    padding: 18px 10px;
    border-radius:8px;
}

.features div:nth-child(1){
    background:var(--teal);
    color:white;
}

.features div:nth-child(2){
    background:var(--pink);
    color:white;
}

.features div:nth-child(3){
    background:var(--yellow);
}

.features div:nth-child(4){
    background:var(----white);
}

#pricing{
    color:white;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    margin: 10px 0 20px;
}

th{
    background:var(--yellow);
    color:black;
    padding:8px;
    font-size:.8rem;
}

td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
    font-size:.8rem;
}


#contact{
    background:var(--pink);
    color:white;
    padding: 18px;
    border-radius:0;
    text-align:left;
}

#contact h2{
    margin-bottom:10px;
}

#contact p{
    font-size:.85rem;
    margin-bottom:15px;
}

#contact a{
    display:bock;
    width:180px;
    margin:auto;
    text-align:center;
    text-decoration:none;
    color:black;
    background:white;
    padding:10px;
    border-radius:20px;
    font-weight:700;
}

